    * {
	margin:0;
	padding:0;
}

    body {
	    margin:0;
	    _overflow:hidden;
	    padding:0;
    }

    #map {
	    height:100%;
	    left:0;
	    margin:0;
	    padding:0;
	    position:fixed;
	    _position:absolute;
	    top:0;
	    width:50%;
    }

    #right {
	    height:100%;
	    width:50%;
	    margin:0 0 0 800;
	    _overflow:auto;
	    padding:0;
    }

